[SddmGreeterTheme]
Name=this-is-computer
Description=This is a computer.
Author=mateidragony
Type=sddm-theme
Version=1.0
Website=https://github.com/mateidragony/sddm-themes
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=matei.cloteaux@gmail.com
Theme-Id=this-is-computer
Theme-API=2.0
